body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
    background-attachment: fixed;

    
  }

  /* Z-Score Calculator */
  .z-score-calculator {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 20px;
    background:black;
    background:rgba(0,0,0,0.8);
    background-size: cover;
    background-repeat: no-repeat;

   
  }

  .z-score-calculator h2 {
    color: gold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0 30px;
    font-size: 40px;
  }

  .z-score-calculator label {
    display: block;
    margin-top: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  .z-score-calculator input[type="number"] {
    width: 150px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-weight: 600;
    border-color: brown;
    border-width: 2px;
  }

  .z-score-calculator button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bolder;
    
  }

  .z-score-calculator button:hover {
    background-color: #45a049;
    
  }

  .z-score-calculator p {
    font-weight: bold;
    margin-top: 10px;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* Standard Deviation Calculator */
  .standard-deviation-calculator {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 20px;
    background-image: url("gsm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background:black;
    background:rgba(0,0,0,0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .standard-deviation-calculator h2 {
    color: gold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0 30px;
    font-size: 40px;
  }

  .standard-deviation-calculator label {
    display: block;
    margin-top: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  .standard-deviation-calculator textarea {
    width: 300px;
    height: 100px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-color: palevioletred;
    border-width: 2px;
  }

  .standard-deviation-calculator button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bolder;
  }

  .standard-deviation-calculator button:hover {
    background-color: #45a049;
  }

  .standard-deviation-calculator .result {
font-weight: bold;
margin-top: 10px;
color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}




/* Mean Calculator */
.mean-calculator {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 20px;
    background-image: url("gsm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background:black;
    background:rgba(0,0,0,0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
   
  }

  .mean-calculator h2 {
    color: gold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0 30px;
    font-size: 40px;
  }

  .mean-calculator label {
    display: block;
    margin-top: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  .mean-calculator textarea {
    width: 300px;
    height: 100px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-color: palevioletred;
    border-width: 2px;
  }

  .mean-calculator button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bolder;
  }

  .mean-calculator button:hover {
    background-color: #45a049;
  }

  .mean-calculator .result {
    font-weight: bold;
    margin-top: 10px;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* Total Z-Score Calculator */
  .total-z-score-calculator {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 20px;
    background-image: url("gsm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background:black;
    background:rgba(0,0,0,0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }

  .total-z-score-calculator h2 {
    color: gold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 10px 0 30px;
  }

  .total-z-score-calculator label {
    display: block;
    margin-top: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  .total-z-score-calculator input[type="number"] {
    width: 90px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-color: darksalmon;
    border-width: 2px;
  }

  .total-z-score-calculator button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bolder;
  }

  .total-z-score-calculator button:hover {
    background-color: #45a049;
  }

  .total-z-score-calculator p {
    font-weight: bold;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
  }

  footer{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: large;
    background-color: black;
    height: 40px;
    background:black;
    background:rgba(0,0,0,0.8);
    background-size: cover;
    background-repeat: no-repeat;
  }


    



  ::placeholder{
    color: black;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  .input-box:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px #6c63ff;
    font-weight: bold;
  }

 .back-video{

  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
 }


 @media (min-aspect-ratio: 16/9){

       .back-video{
        width: 100%;
        height: auto;

       }
 }
